<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar-color">
  <ion-tab-button (click)="presentAlert()" expand="block" [mode]="'md'">
    <ion-icon name="information-circle-outline" style="margin-left: 90%;  margin-top: 8%; color:gray; zoom:0.0" expand="block" [mode]="'md'"></ion-icon>
</ion-tab-button>
    <ion-title>Registro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/'" [mode]="'md'"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<body class="global-content">
<form class="content-form">
    <ion-item class="nombre">
      <ion-icon name="person-outline"></ion-icon>
      <ion-input [(ngModel)]="nombre" name="nombre" type="text" placeholder="*Nombre usuario" autofocus required></ion-input>
    </ion-item>
    <ion-item class="contraseña">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input [(ngModel)]="pwd" name="contraseña" type="password" placeholder="*Contraseña" required></ion-input>
    </ion-item>
    <ion-item class="email">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-input [(ngModel)]="email" name="email" type="email" placeholder="*Email" required></ion-input>
    </ion-item>
    <ion-item class="ciudad">
      <ion-icon class="city" name="business-outline"></ion-icon>
        <ion-label  name="city" required readonly>*Ciudad</ion-label>
        <ion-select (ionChange)="seleccionarCiudad($event)" interface="popover">
          <ion-select-option value="Cádiz">Cádiz</ion-select-option>
          <ion-select-option value="Córdoba">Córdoba</ion-select-option>
          <ion-select-option value="Granada">Granada</ion-select-option>
          <ion-select-option value="Huelva">Huelva</ion-select-option>
          <ion-select-option value="Jaén">Jaén</ion-select-option>
          <ion-select-option value="Málaga">Málaga</ion-select-option>
          <ion-select-option value="Sevilla">Sevilla</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="sexo">
        <ion-icon class="sex" name="contrast-outline"></ion-icon>
          <ion-label name="sexo" required readonly>*Sexo </ion-label>
          <ion-select (ionChange)="seleccionarSexo($event)" interface="popover">
            <ion-select-option value="Hombre">Hombre</ion-select-option>
            <ion-select-option value="Mujer">Mujer</ion-select-option>
          </ion-select>
        </ion-item>
    <div class="register-button">
      <ion-button class="registro-button" (click)="registrar()"  expand="block" color="primary" disabled="{{!this.nombre || !this.pwd || !this.email || !this.ciudad || !this.sexo}}">Registrar</ion-button>
    </div>
  </form>
  <div class="ilustration-registro">
    <img src="../../../assets/registro-bibliofilo.jpg" alt="Imagen de registro bibliofilo">
  </div>
</body>
