<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Editar Evento
    </ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-list class="edit-content">
      <ion-item class="nombre">
        <ion-label><b>Nombre del evento: </b></ion-label>
        <ion-input [(ngModel)]="eventoObtenido.nombreEvento"  type="text" name="evento"></ion-input>
      </ion-item>
    
    <ion-item class="ciudad">
      <ion-label><b>Ciudad: </b></ion-label>
      <ion-input [(ngModel)]="eventoObtenido.ciudad" type="text" name="ciudad" readonly></ion-input>
    </ion-item>

    <ion-item class="direccion">
      <ion-label><b>Dirección: </b></ion-label>
      <ion-input [(ngModel)]="eventoObtenido.direccion" type="text" name="direccion"></ion-input>
    </ion-item>
     <ion-item class="fecha">
      <ion-label><b>Fecha: </b></ion-label>
      <ion-datetime [(ngModel)]="eventoObtenido.fecha" mmin="2021" max="2023" displayFormat="DD/MM/YYYY" pikerFormat="DD MM YYYY"></ion-datetime>
    </ion-item>
    <ion-item class="hora">
      <ion-label><b>Hora: </b></ion-label>
      <ion-datetime [(ngModel)]="eventoObtenido.hora" displayFormat="HH:mm"></ion-datetime>
    </ion-item>
  </ion-list>
  <div class="ilustration-event">
    <img src="../../../assets/event.jpg">
  </div>
</body>

<ion-footer class="bar-stable">
  <ion-toolbar color="light">
    <div style="text-align: center;">
  <ion-button class="save-button" color="primary" style="margin-left:0%" >
    <ion-icon name="save-outline"></ion-icon>
    <ion-label (click)="guardar()" style="margin-left: 10px;">Guardar</ion-label>
  </ion-button>
  <ion-button class="cancel-button" color="primary" style="margin-left:5%" (click)="cancelar()">
    <ion-icon name="close"></ion-icon>
    <ion-label style="margin-left: 10px;">Cancelar</ion-label>
  </ion-button> 
</div>
</ion-toolbar>
</ion-footer>
