.edit-content {
    margin-top: 33px;
    margin-left: 12px;
}
.nombre, .descripcion, .lugar, .fecha, .hora {
    border: 1px solid #3880ff;
    border-radius: 30px;
    height: 43px;
    width: 291px;
    font-size: 15px;
    margin-left: 30px;
    margin-bottom: 10px;
}
.ilustration-event {
    width: 228px;
    margin-top: 72px;
    margin-left: 79px;
}