body {
    background-color: white;
}
.avatar-profile {
    position: relative;
    left: 295px;
    margin-top: 12px;
    border: 1px solid #b6dcf3;
    width: 60px;
    height: 60px;
    background-color: #b6dcf3;
}
.fav, .share {
    font-size: 17px;
}
.fav{
    position: absolute;
    right: 16px;
}
.share{
    position: absolute;
    left: 0;
}
.cardStyle {
    text-align: center; 
    font-size: 17px; 
    height: 45px; 
    margin-top: -14px;
}

.apuntarse, .desapuntarse{
    font-size: 10px;
}