  <ion-toolbar class="toolbar-color">
    <ion-avatar [routerLink]="'/perfil-bibliofilo'" class="avatar-profile">
      <img src="../../../assets/profile-w.png">
    </ion-avatar>
  </ion-toolbar>

<ion-content>
  <div class="ion-padding">
    <ion-toolbar>
      <ion-segment>
        <ion-segment-button (click)="librerias()" value="a">Librerías</ion-segment-button>
        <ion-segment-button (click)="libros()" value="b">Libros</ion-segment-button>
        <ion-segment-button (click)="eventos()" value="c">Eventos</ion-segment-button>
        <ion-segment-button (click)="fav()" value="d">Favoritos</ion-segment-button>
      </ion-segment>
    </ion-toolbar>

  <!-- Librerias -->
    <ion-card *ngFor="let usuario of usuariosLibreros">
      <div class="imagen">
      <img class="imagenCard" (click)="verLibreria(usuario)" src="../../../assets/libreria.jpg">
    </div>
      <ion-card-header color="light" style="height: 45px;">
        <ion-card-title class="cardStyle"><h4>{{usuario.nombre}}</h4></ion-card-title>
      </ion-card-header>
      <ion-card-content style="margin-top: 12px;">
        <b>Dirección: </b>{{usuario.direccion}}<br>
      </ion-card-content>
      <ion-item color="light">
        <ion-button class="share" (click)="compartirLibreria(usuario)" expand="block" fill="clear" shape="round">
          <ion-icon name="share"></ion-icon>
        </ion-button>
        <ion-button *ngIf="usuarioActual.favoritos.includes(usuario.nombre)" class="fav" (click)="borrarFavorito(usuario.nombre)" expand="block" fill="clear" shape="round">
         <ion-icon name="heart-sharp" color="danger"></ion-icon>
        </ion-button>
        <ion-button *ngIf="!usuarioActual.favoritos.includes(usuario.nombre)" class="fav" (click)="guardarFavorito(usuario.nombre)" expand="block" fill="clear" shape="round">
         <ion-icon name="heart-outline" color="danger"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card> 

    <!-- Libros -->
    <ion-card *ngFor="let libro of librosPropios">
      <div class="imagen">
        <img class="imagenCard" *ngIf="libro.imagenLibro"src="{{libro.imagenLibro}}">
        <img class="imagenCard" *ngIf="!libro.imagenLibro" src="../../../assets/registro-bibliofilo.jpg">
    </div>
      <ion-card-header color="light" style="height: 45px;">
        <ion-card-title class="cardStyle"><h4>{{libro.nombreLibro}}</h4></ion-card-title>
      </ion-card-header>
      <ion-card-content style="margin-top: 12px;">
        <b>Género: </b>{{libro.genero}}<br>
        <b>Autor: </b>{{libro.autor}}<br>
        <b>Precio: </b>{{libro.precio}}
      </ion-card-content>
      <ion-item color="light">
        <ion-button *ngIf="!libro.participantes.includes(this.usuario)" class="fav" (click)="reservarLibro(libro)" expand="block" fill="clear" shape="round">
         <ion-icon name="bag-outline" color="dark"></ion-icon>
        </ion-button>
        <ion-button *ngIf="libro.participantes.includes(this.usuario)" class="fav" (click)="quitarReservaLibro(libro)" expand="block" fill="clear" shape="round">
        <ion-icon name="bag-check-outline" color="dark"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>

    <!-- Eventos -->
    <ion-card *ngFor="let evento of eventosPropios">
      <div class="imagen">
        <img class="imagenCard" *ngIf="evento.imagenEvento" src="{{evento.imagenEvento}}">
        <img class="imagenCard" *ngIf="!evento.imagenEvento" src="../../../assets/evento.jpg">
      </div>
      <ion-card-header color="light" style="height: 45px;">
        <ion-card-title class="cardStyle"><h4>{{evento.nombreEvento}}</h4></ion-card-title>
      </ion-card-header>
      <ion-card-content style="margin-top: 12px;">
        <b>Ciudad: </b>{{evento.ciudad}}<br>
        <b>Direccion: </b>{{evento.direccion}}<br>
        <b>Fecha: </b>{{evento.fecha | date: 'dd/MM/yyyy'}}<br>
        <b>Hora: </b>{{evento.hora | date: 'HH:mm'}}
      </ion-card-content>
        <ion-item color="light">
        <ion-button class="apuntarse" *ngIf="!evento.participantes.includes(this.usuario)" (click)="apuntarse(evento)" fill="outline" slot="end" expand="block" [mode]="'md'">Apuntarse</ion-button>
        <ion-button class="desapuntarse" *ngIf="evento.participantes.includes(this.usuario)" (click)="desapuntarse(evento)" fill="outline" slot="end" expand="block" [mode]="'md'" color="dark" >Borrarse</ion-button>
      </ion-item>
    </ion-card>
  </div>
  <ion-infinite-scroll threshold="200px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="circular"
      loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

