<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Editar Libro
    </ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <ion-list class="edit-content">
      <ion-item class="nombreLibro">
        <ion-label><b>Nombre del libro: </b></ion-label>
        <ion-input [(ngModel)]="libroObtenido.nombreLibro"  type="text" name="nombreLibro"></ion-input>
      </ion-item>

    <ion-item class="genero">
      <ion-label><b>Género: </b></ion-label>
      <ion-input [(ngModel)]="libroObtenido.genero" type="text" name="genero"></ion-input>
    </ion-item>
     <ion-item class="autor">
      <ion-label><b>Autor: </b></ion-label>
      <ion-input [(ngModel)]="libroObtenido.autor"></ion-input>
    </ion-item>
    <ion-item class="precio">
      <ion-label><b>Precio: </b></ion-label>
      <ion-input [(ngModel)]="libroObtenido.precio" ></ion-input>
    </ion-item>
  </ion-list>
  <div class="ilustration-book">
    <img src="../../../assets/editar-libro.jpg">
  </div>
</body>

<ion-footer class="bar-stable">
  <ion-toolbar color="light">
    <div style="text-align: center;">
  <ion-button class="save-button" color="primary" style="margin-left:0%" >
    <ion-icon name="save-outline"></ion-icon>
    <ion-label (click)="guardar()" style="margin-left: 10px;">Guardar</ion-label>
  </ion-button>
  <ion-button class="cancel-button" color="primary" style="margin-left:5%" (click)="cancelar()">
    <ion-icon name="close"></ion-icon>
    <ion-label style="margin-left: 10px;">Cancelar</ion-label>
  </ion-button> 
</div>
</ion-toolbar>
</ion-footer>
