body {
    overflow-y:hidden;
    background-color: white;
}
.edit-content {
    margin-top: 72px;
    margin-left: 12px;
}
.nombreLibro, .genero, .autor, .precio {
    border: 1px solid #3880ff;
    border-radius: 30px;
    height: 43px;
    width: 291px;
    font-size: 15px;
    margin-left: 30px;
    margin-bottom: 10px;
}
.ilustration-book{
    width: 242px;
    margin-top: 14%;
    margin-left: 57px;
}
.save-button, .cancel-button {
    width: 113px;
    height: 34px;
}