body.background{
    background-image: url('../../../assets/profile-back.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-y: scroll;
} 
.back-button {
    position: absolute;
    top: 0;
}
.avatar-content {
    top: 144px;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 141px;
}
.image-profile {
    border: 4px solid white;
    border-radius: 47px;
    background-color: #d1f1ff;
}
.title-text {
    font-family: system-ui;
    margin-top: 27px;
    color: #3880ff;
}
.perfil-bibliofilo {
    position: absolute;
    top: 116px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.profile-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #666;
    margin-left: auto;
    margin-right: auto;
    width: 314px;
    position: relative;
    top: 94px;
    left: 33px;
}
.app-title {
    text-align: center;
    color: #777;
}
.exit-button, .personal-data-button {
    display: inline-block;
    position: relative;
    left: 5px;
    width: 129px;
    height: 39px;
    font-size: 15px;
    margin-top: 25px;
    bottom: 9px;
}
.volver {
    font-size: 23px;
    margin-top: 12px;
    margin-left: 18px;
}

