<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar-color">
    <ion-title>Login</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/'" [mode]="'md'"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ilustration-login">
    <img src="../../../assets/login.jpg" alt="">
  </div>
  <form class="content-form">
    <ion-item class="nombre">
      <ion-icon class="uss" name="person" style="margin-right: 15px;"></ion-icon>
      <ion-input [(ngModel)]="nombre" name="nombre" type="text" placeholder="*Nombre usuario" autofocus required></ion-input>
    </ion-item>
    <ion-item class="pwd">
      <ion-icon class="pass" name="lock-closed" style="margin-right: 15px;"></ion-icon>
      <ion-input [(ngModel)]="pwd" name="pwd" type="password" placeholder="*Contraseña" required></ion-input>
    </ion-item>
    <div class="login-button">
      <ion-button class="log-button" (click)="login()" disabled="{{!this.nombre || !this.pwd }}" style="margin-top: 10px;" expand="block"  color="primary">Login</ion-button>
    </div>
  </form>
  
  
</ion-content>


   


