.content-form {
    margin-top: 39px;
    width: 347px;
    margin-left: 5px;
}
.cabecera{
    margin-top: 35px;
}
.ilustration-login {
    margin-top: 11px;
    width: 125%;
    position: relative;
    right: 12%;
}
.login-button {
    --ion-color-primary-shade: #3171e0;
    display: inline-block;
    margin-left: 120px;
}
.log-button {
    border-radius:60px 20px 20px;
    font-weight: bold;
    width: 111px;
}
.usuario, .contraseña {
    border: 1px solid #3171e0;
    border-radius: 30px;
    height: 43px;
    width: 291px;
    font-size: 15px;
    margin-left: 30px;
    margin-bottom: 10px;
}
.uss, .pass {
    font-size: 19px;
}
.footer-login{
    margin-top: 56px;
    margin-left: 22px;
}
.olvidarContrasena{
    margin-left: 110px;
}
.olvidarUsuario, .olvidarContrasena {
    font-size: 10px;
    color:rgb(85, 85, 85);
    
}

