
  <ion-toolbar class="toolbar-color">
    <ion-avatar [routerLink]="'/perfil-libreria'" class="avatar-profile">
      <img src="../../../assets/profile-l.jpg">
    </ion-avatar>
  </ion-toolbar>

<ion-content>
<div class="options">
    <ion-toolbar >
      <ion-segment>
        <ion-segment-button (click)="loadEventosPropios()" value="propio">
         Eventos
        </ion-segment-button>
        <ion-segment-button (click)="loadEventosAjenos()" value="ajeno">
          Libros
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    
      <ion-card *ngFor="let evento of eventosPropios">
        <img src="../../../assets/eventoa.jpg">
        <ion-card-header color="light" style="height: 45px;">
          <ion-card-title class="card-titulo"><h4>{{evento.nombreEvento}}</h4></ion-card-title>
        </ion-card-header>
        <ion-card-content style="margin-top: 12px;">
          <b>Lugar: </b>{{evento.lugar}}<br>
          <b>Fecha: </b>{{evento.fecha | date: 'dd/MM/yyyy'}}<br>
          <b>Hora: </b>{{evento.hora | date: 'HH:mm'}}
        </ion-card-content>
        <ion-item color="light">
          <ion-button class="option" (click)="editarEvento(evento._id)" fill="outline" slot="end" >Editar</ion-button>
          <ion-button class="option" (click)="borrarEvento(evento._id)" fill="outline" slot="end" color="danger">Borrar</ion-button> 
        </ion-item>
      </ion-card> <!-- el metodo esta icompleto -  ver QRBar -->
    </div>
  
    <ion-infinite-scroll threshold="200px">
    <ion-infinite-scroll-content
      loadingSpinner="circular"
      loadingText="Cargando eventos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
  
  <ion-footer class="bar-stable">
    <ion-toolbar class="tool-foot" color="light">
      <div class="content-button-event">
          <ion-button class="button-event" (click)="crearEvento()" fill="solid" slot="end" color="tertiary">Crear evento
           <ion-icon name="add"></ion-icon> 
          </ion-button>
      </div>
    </ion-toolbar>
  </ion-footer>
  